.App {
  text-align: center;
}
.card{
  text-align: center;
  justify-content: center;
  width: 470px;
  height: 450px;
}
img{
  width: 225px;
  height: 225px;
}
.card-containar{
  display:flex ;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}
.basket-containar{
  display:flex ;
  flex-direction: column;
  justify-content: space-around;
  flex-flow: wrap;
}
.card-basket{
  display: flex;
  justify-content: start;
  width: 99%;
  height: 150px;
  border: solid black;
  margin: 7px;
  box-shadow: 2px 2px 2px 2px  black;

}
.total{
  width: 100%;
  height: 80px;
  background-color: rgb(72, 220, 72);
  display: flex;
  justify-content: center;
  align-items: center;
}
.h1-basket{
  color: black;
}
.img-basket{
  width: 150px;

  height: 150px;
  margin-left: 10%;
}
.basket-info{
  display: flex;
  width: 800px;
  margin-left: 8%;
  justify-content: space-between;
  padding: auto;
  height: 150px;
  align-items: center;
}

button{
  border: 0;
}
button:hover{
  background-color: rgb(218, 222, 222);
  font-size: large;
}
.delete-button:hover{
  size: large;
  background-color: red;
}
.header{
  background-color: black;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
h1{
  color: white;
  height: 100%;
  width: fit-content;
  display: flex;
  align-items: center;
  font-size: xx-large;
  margin-right: auto;
  margin-left: auto;

}
.basket{
  margin-bottom: 2%;
  color: white;
  font-size: large;
  border:  solid red;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.basket-text{
  display: flex;
  color: white;
}
.icon{
  color: aliceblue;
  width: 40px;
  height:40px ;
}